Repository wrale/wrale-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wrale/maintainers, @wrale/chart-maintainers, @wrale/devops, @wrale/docs

Add CODEOWNERS and Dependabot configuration
  .github/dependabot.yml
Owners: @wrale/maintainers

Enhance README.md with comprehensive documentation
  README.md
Owners: @wrale/docs

Enhance README.md with comprehensive documentation
  README.md
Owners: @wrale/docs

Add chart template guide and guidelines
  docs/GUIDELINES.md
  docs/RELEASE.md
Owners: @wrale/docs

Update TODO.md to reflect completed items
  TODO.md
Owners: @wrale/docs

docs: add chart submission guidelines and maintainer responsibilities
  docs/CHART_SUBMISSION.md
  docs/MAINTAINER.md
Owners: @wrale/docs

docs: update TODO.md to reflect completed items
  TODO.md
Owners: @wrale/docs

Add chart testing workflow and validation schema
  .github/ct-lint.yaml
  .github/ct.yaml
  .github/workflows/chart-test.yml
  charts/.schema.json
  docs/CHART_VALIDATION.md
Owners: @wrale/maintainers, @wrale/devops, @wrale/chart-maintainers, @wrale/docs

Add app-template Chart.yaml
  charts/app-template/Chart.yaml
Owners: @wrale/chart-maintainers

Add app-template helpers template
  charts/app-template/templates/_helpers.tpl
Owners: @wrale/chart-maintainers

Add app-template values.yaml
  charts/app-template/values.yaml
Owners: @wrale/chart-maintainers

Add app-template deployment template
  charts/app-template/templates/deployment.yaml
Owners: @wrale/chart-maintainers

Rewrite service template with more configuration options
  charts/app-template/templates/service.yaml
Owners: @wrale/chart-maintainers

Update values.yaml with enhanced service configuration
  charts/app-template/values.yaml
Owners: @wrale/chart-maintainers

Add serviceaccount template
  charts/app-template/templates/serviceaccount.yaml
Owners: @wrale/chart-maintainers

Update serviceAccount section in values.yaml
  charts/app-template/values.yaml
Owners: @wrale/chart-maintainers

Add horizontal pod autoscaler template
  charts/app-template/templates/hpa.yaml
Owners: @wrale/chart-maintainers

Add enhanced autoscaling configuration
  charts/app-template/values.yaml
Owners: @wrale/chart-maintainers

Add ingress template
  charts/app-template/templates/ingress.yaml
Owners: @wrale/chart-maintainers

Update ingress section with labels and port configuration
  charts/app-template/values.yaml
Owners: @wrale/chart-maintainers

Add pod disruption budget template
  charts/app-template/templates/pdb.yaml
Owners: @wrale/chart-maintainers

Update PDB section with labels and annotations
  charts/app-template/values.yaml
Owners: @wrale/chart-maintainers

Add network policy template
  charts/app-template/templates/networkpolicy.yaml
Owners: @wrale/chart-maintainers

Update network policy section with labels and annotations
  charts/app-template/values.yaml
Owners: @wrale/chart-maintainers

Add ServiceMonitor template
  charts/app-template/templates/servicemonitor.yaml
Owners: @wrale/chart-maintainers

Add ServiceMonitor annotations configuration
  charts/app-template/values.yaml
Owners: @wrale/chart-maintainers

Update TODO.md with completed items
  TODO.md
Owners: @wrale/docs

Initialize Helm repository index
  index.yaml
Owners: @wrale/maintainers

Add chart release workflow
  .github/workflows/release.yml
Owners: @wrale/devops

Consolidate release workflow files and update with best practices
  .github/workflows/release.yaml
Owners: @wrale/devops

Remove duplicate release workflow file
  .github/workflows/release.yml
Owners: @wrale/devops

Update README with current requirements and improved instructions
  README.md
Owners: @wrale/docs

Update RELEASE.md with current workflow and requirements
  docs/RELEASE.md
Owners: @wrale/docs

Fix workflow triggers in chart-test.yml
  .github/workflows/chart-test.yml
Owners: @wrale/devops

Add CHANGELOG.md for app-template chart
  charts/app-template/CHANGELOG.md
Owners: @wrale/docs

Update index.yaml
  index.yaml
Owners: @wrale/maintainers

Delete .github/workflows/release.yml
  .github/workflows/release.yml
Owners: @wrale/devops

Delete empty release.yml
  .github/workflows/release.yml
Owners: @wrale/devops

Delete .github/workflows/release.yml
  .github/workflows/release.yml
Owners: @wrale/devops

Add bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @wrale/docs

.github/CODEOWNERS:

# Default owners for everything in the repo
* @wrale/maintainers

# Owners for all charts
/charts/ @wrale/chart-maintainers

# Workflow owners
/.github/workflows/ @wrale/devops

# Documentation owners
*.md @wrale/docs
/docs/ @wrale/docs

# Chart-specific owners can be added below as we add charts
#/charts/specific-chart/ @specific-team
